<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="listener.MethodInterceptor" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="tests.GlobalSitesTest" />
			<class name="tests.BusHireTest" />
			<class name="tests.PrivacyLinkTest" />
			<class name="tests.FAQTest" />
			<class name="tests.AppLinkMobileTest" />
			<class name="tests.RPoolAppDownloadTest" />
			<class name="tests.LoginTest" />
			<class name="tests.CareerPageTest" />
			<class name="tests.HomePageSearchTest" />
			<class name="tests.ContactUsTest" />
			<class name="tests.AgentRegistrationTest" />
			<class name="tests.ManageBookingTest" />
			<class name="tests.OperatorSearch" />
			<class name="tests.SocialMediaTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->

